<body class="vitrine">

    <ul>

        <li><a  asp-action="AdminIndex">Home Admin</a></li>
        <li><a asp-action="PacotesCadastrados">Pacotes Cadastrados</a></li>
        <li><a asp-action="EditaPacotes">Edição de pacotes</a></li>
        <li><a asp-action="ExcluirPacotes">Exclusão de viagens</a></li>
        <li><a asp-action="MenssagensRecebidas">Mensagems Recebidas</a></li>

    </ul>

    <center><h2 class="text">Admin Destino Certo</h2></center>
    <center><img src="~/Admin.jpg"/></center><br>
    <center><p class="organize">Bem vindo Admin. Você tem possibilidade de vê os cadastro de pacotes , edição de pacotes , excluir pacotes e vê as mensagens do clientes</p></center>
    <br><br><br><br>
</body>