
<body class="vitrine">
<br><br>
<div class="text-center">
   <center><h1>cadastro feito com sucesso</h1></center>
    
</div>
<br><br>
<center><a class="fale2" asp-action="CadastraPacotes" >Criar novo Pacote</a></center>
<br><br>
<center><a class="fale2" asp-action="DestinoCerto" >Volta a Home</a></center>
<br><br>
<center><img  src="~/shedule.gif" height="250px" width="250px"></center>
</body>