<body class="vitrine">

    <ul>

        <li><a  asp-action="DestinoCerto">Destino Certo</a></li>
        <li><a asp-action="DescricaoPacotes">Descrição dos Pacotes</a></li>
        <li><a asp-action="LocaisInclusos">Locais inclusos</a></li>
        <li><a asp-action="CadastraPacotes">Realizar Reserva</a></li>
        <li><a asp-action="FaleConosco">Fale Conosco</a></li>

    </ul>
    <img src="~/images.png" class="airplane" />
    <img src="~/images.png" class="airplane2" />
    <center><h2 class="text">Pacotes Oferecidos</h2></center>
    <center><p class="organize">Nossa empresa Destino certo oferecemos três tipos de pacotes. O pacote comum, pacote Super e o Premium. </p></center>
    <center><h3 class="text">Pacote Comum</h3></center>
    <center><p class="organize">O pacote comum oferece hospedagem de três dias no Hotel escolhido e a passagem de ida e volta na classe econômica.</p></center>
    <center><h3 class="text">Pacote Super</h3></center>
    <center><p class="organize">O pacote comum oferece hospedagem de sete dias no Hotel escolhido e a passagem de ida e volta na primeira classe.</p></center>
    <center><h3 class="text">Pacote Premium</h3></center>
    <center><p class="organize">O pacote comum oferece hospedagem de 14 dias no Hotel escolhido e a passagem de ida e volta na primeira classe.</p></center>
    <br><br><br><br>
</body>