<body class="vitrine">

    <ul>
        <li class="index"><a  asp-action="Index">Destino Certo</a></li>
        <li class="index"><a asp-action="DescricaoPacotes2">Descrição dos Pacotes</a></li>
        <li class="index"><a asp-action="LocaisInclusos2">Locais inclusos</a></li>
        <li class="index"><a asp-action="Pacotes">Pacotes</a></li>
        <li class="index"><a asp-action="Registrar">Registrar</a></li>
        <li class="index"><a asp-action="Login">Login</a></li>
        
   

    </ul>
    <img src="~/images.png" class="airplane" />
    <img src="~/images.png" class="airplane2" />
    <center><h2 class="text">Pacotes Oferecidos</h2></center>
    <center><p class="organize">Nossa empresa Destino certo oferecemos três tipos de pacotes. O pacote comum, pacote Super e o Premium. </p></center>
    <center><h3 class="text">Pacote Comum</h3></center>
    <center><p class="organize">O pacote comum oferece hospedagem de três dias no Hotel escolhido e a passagem de ida e volta na classe econômica.</p></center>
    <center><h3 class="text">Pacote Super</h3></center>
    <center><p class="organize">O pacote comum oferece hospedagem de sete dias no Hotel escolhido e a passagem de ida e volta na primeira classe.</p></center>
    <center><h3 class="text">Pacote Premium</h3></center>
    <center><p class="organize">O pacote comum oferece hospedagem de 14 dias no Hotel escolhido e a passagem de ida e volta na primeira classe.</p></center>
    <br><br><br><br>
</body>