@using Microsoft.AspNetCore.Http
<body class="vitrine">

    <ul>

        <li><a  asp-action="DestinoCerto">Destino Certo</a></li>
        <li><a asp-action="CadastraPacotes">Cadastrar Pacote</a></li>
        <li><a asp-action="EditaPacotes2">Edita Pacotes</a></li>
        <li><a asp-action="ExcluirPacotes2">Excluir inclusos</a></li>
        <li><a asp-action="FaleConosco">Fale Conosco</a></li>

    </ul>

    <center><h2 class="text">Destino Certo</h2></center>
    <center><img src="~/empresa.png"/></center><br>
    <center><p class="organize">Somos uma empresa dedicada ao setor de viagens. Dedicamos a produzir os melhores preços possíveis do mercado possibilitando que os nossos clientes tenham as melhores experiências com os menores preços. </p></center>
    <br><br><br><br>
</body>