@using Microsoft.AspNetCore.Http
<body class="vitrine">

    <ul>

        <li class="index"><a  asp-action="Index">Destino Certo</a></li>
        <li class="index"><a asp-action="DescricaoPacotes2">Descrição dos Pacotes</a></li>
        <li class="index"><a asp-action="LocaisInclusos2">Locais inclusos</a></li>
        <li class="index"><a asp-action="Pacotes">Pacotes</a></li>
        <li class="index"><a asp-action="Registrar">Registrar</a></li>
        <li class="index"><a asp-action="Login">Login</a></li>


    </ul>

    <center><h2 class="text">Destino Certo</h2></center>
    <center><img src="~/empresa.png"/></center><br>
    <center><p class="organize">Somos uma empresa dedicada ao setor de viagens. Dedicamos a produzir os melhores preços possíveis do mercado possibilitando que os nossos clientes tenham as melhores experiências com os menores preços. </p></center>
    <br><br><br><br>
</body>

